{% extends "tickets/tickets_base.html" %}

{% load ticket_extras %}

{% block title %} {{ action | format_action }} Ticket #{{ ticket.id }} {% endblock %}


{% block extra_head %}

    <style>
     .required:after{
         content:" *\00a0";
         color:#b60000;
     }
    </style>

{% endblock %}


{% block content %}

    <div class="container">

        <div class="col-md-8">

            <h1 class="my-1">{{ action | format_action }} Ticket # {{ticket.id}}:</h1>
            <h3 class="my-2">{{ticket.title}}</h3>


            <div class="card my-5">
                <h5 class="card-header">
                    Ticket Description:
                </h5>
                <div class="card-body">
                    {{ ticket.description_html|safe }}
                </div>
            </div>

            <div class="row text-end">
                <p>Required fields are identified by an <span style="color:#b60000">*</span></p>
            </div>

            <form class="form" id="comment" method="post" action=".">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        Please fix the errors in the form below.
                        {% for error in form.non_field_errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                        {% for error in form.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if msg %}
                    <div class="alert alert-danger" role="alert">{{ msg }}</div>
                {% endif %}


                <div class="mb-3">
                    <label class="form-label {% if form.comment.field.required %} required {% endif %}"
                           for="id_{{ form.comment.name }}">{{ form.comment.label }}:</label>
                    {{ form.comment }}
                    {% if form.comment.help_text %}
                        <div id="{{form.comment.help}}help" class="form-text">{{form.comment.help_text}}</div>
                    {% endif %}
                    {% if form.comment.errors %}
                        <div id="validation{{form.comment.name}}" class="invalid-feedback">
                            {% for error in  form.comment.errors %}{{ error }}{% endfor %}
                        </div>
                    {% endif %}
                </div>

                {% if action == "closed" %}
                    <div class="row">
                        <div class="col-md-3">

                            <div class="mb-3">
                                <label class="form-label {% if form.duplicate.field.required %} required {% endif %}"
                                       for="id_{{ form.duplicate.name }}">{{ form.duplicate.label }}:</label>
                                {{ form.duplicate }}
                                {% if form.duplicate.help_text %}
                                    <div id="{{form.duplicate.help}}help" class="form-text">{{form.duplicate.help_text}}</div>
                                {% endif %}
                                {% if form.duplicate.errors %}
                                    <div id="validation{{form.duplicate.name}}" class="invalid-feedback">
                                        {% for error in  form.duplicate.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-9">

                            <div class="mb-3">
                                <label class="form-label {% if form.same_as_ticket.field.required %} required {% endif %}"
                                       for="id_{{ form.same_as_ticket.name }}">{{ form.same_as_ticket.label }}:</label>
                                {{ form.same_as_ticket }}
                                {% if form.same_as_ticket.help_text %}
                                    <div id="{{form.same_as_ticket.help}}help" class="form-text">{{form.same_as_ticket.help_text}}</div>
                                {% endif %}
                                {% if form.same_as_ticket.errors %}
                                    <div id="validation{{form.same_as_ticket.name}}" class="invalid-feedback">
                                        {% for error in  form.same_as_ticket.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row my-3">
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
