{% extends "tickets/tickets_base.html" %}

{% load ticket_extras %}

{% block title %} {{ action | format_action }} Ticket #{{ ticket.id }}{% endblock %}

{% block extra_head %}

    <style>
     .required:after{
         content:" *\00a0";
         color:#b60000;
     }

    </style>

{% endblock %}


{% block content %}

    <div class="container">

        <div class="col-md-8">


        <h1 class="my-1">{{ action | format_action }} Ticket # {{ticket.id}}:</h1>
        <h3 class="my-2">{{ticket.title}}</h3>


            <div class="card my-5">
                <h5 class="card-header">
                    Ticket Description:
                </h5>
                <div class="card-body">
                    {{ ticket.description_html|safe }}
                </div>
            </div>

            <form method="post" novalidate id="comment">
                {% csrf_token %}

                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        Please fix the errors in the form below.
                        {% for error in form.non_field_errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                        {% for hidden_field in form.hidden_fields %}
                            <p class="error">{{ hidden_field.errors }}</p>
                            <p class="error">{{ hidden_field }}</p>
                        {% endfor %}

                    </div>
                {% endif %}

                    <div class="row text-end">
                        <p>Required fields are identified by an <span style="color:#b60000">*</span></p>
                    </div>


                <div class="mb-3">
                    <label class="form-label {% if form.comment.field.required %} required {% endif %}"
                           for="id_{{ form.comment.name }}">{{ form.comment.label }}:</label>
                    {{ form.comment }}
                    {% if form.comment.help_text %}
                        <div id="{{form.comment.help}}-help" class="form-text">{{form.comment.help_text}}</div>
                    {% endif %}
                    {% if form.comment.errors %}
                        <div id="validation{{form.comment.name}}" class="invalid-feedback">
                            {% for error in  form.comment.errors %}{{ error }}{% endfor %}
                        </div>
                    {% endif %}
                </div>

                {% if form.assigned_to %}
                    <div class="mb-3">
                        <label class="form-label {% if form.assigned_to.field.required %} required {% endif %}"
                               for="id_{{ form.assigned_to.name }}">
                            {{ form.assigned_to.label }}:
                        </label>
                        {{ form.assigned_to }}
                        {% if form.assigned_to.help_text %}
                            <div id="{{form.assigned_to.help}}help" class="form-text">{{form.assigned_to.help_text}}</div>
                        {% endif %}
                        {% if form.assigned_to.errors %}
                            <div id="validation{{form.assigned_to.name}}" class="invalid-feedback">
                                {% for error in  form.assigned_to.errors %}{{ error }}{% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                {% if form.private %}
                    <div class="mb-3">
                        <label class="form-label {% if form.private.field.required %} required {% endif %}"
                               for="id_{{ form.private.name }}">{{ form.private.label }}</label>
                        {{ form.private }}
                        {% if form.private.help_text %}
                            <div id="{{form.private.help}}help" class="form-text">{{form.private.help_text}}</div>
                        {% endif %}
                        {% if form.private.errors %}
                            <div id="validation{{form.private.name}}" class="invalid-feedback">
                                {% for error in  form.private.errors %}{{ error }}{% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

            <button type="submit" class="btn btn-primary pull-right" >{{ action | format_action }}</button>
            </form>

    </div>

    </div>

{% endblock %}
