{% extends "tickets/tickets_base.html" %}

{% load ticket_extras %}

{% block title %} {{ action | format_action }} Ticket #{{ ticket.id }}{% endblock %}


{% block content %}

<div class="container">

    <h2>{{ action | format_action }} Ticket #{{ ticket.id }}</h2>

    <div class="col-md-6">
        <b>Ticket Description:</b>
        <div class="row well">
            {{ ticket.description_html|safe }}
        </div>

        <form method="post" novalidate id="comment">
            {% csrf_token %}

            {% if form.errors %}
            <div class="alert alert-danger">

                Please fix the errors in the form below.
                {% for error in form.non_field_errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}

                {% for hidden_field in form.hidden_fields %}
                <p class="error">{{ hidden_field.errors }}</p>
                <p class="error">{{ hidden_field }}</p>
                {% endfor %}

            </div>
            {% endif %}

            {{ form.comment.label_tag }}
            <div class="form-group {% if form.comment.errors %}has-error{% endif %}">
                {{ form.comment }}
                {% if form.comment.errors %}
                {% for error in form.comment.errors %}
                <div class="has-error help-block text-danger">{{ error }}</div>
                {% endfor %}
                {% endif %}
            </div>

            {% if form.assigned_to %}
            {{ form.assigned_to.label_tag }}
            <div class="form-group {% if form.assigned_to.errors %}has-error{% endif %}">
                {{ form.assigned_to }}
                {% if form.assigned_to.errors %}
                {% for error in form.assigned_to.errors %}
                <div class="has-error help-block text-danger">{{ error }}</div>
                {% endfor %}
                {% endif %}
            </div>
            {% endif %}


            {% if form.private %}
            <div class="form-group {% if form.private.errors %}has-error{% endif %}">
                <div class="checkbox">
                    <label>
                        {{ form.private }}
                        {{ form.private.label_tag }}
                    </label>
                </div>
                {% if form.private.errors %}
                {% for error in form.private.errors %}
                <div class="has-error help-block text-danger">{{ error }}</div>
                {% endfor %}
                {% endif %}
            </div>
            {% endif %}


            <button type="submit" class="btn btn-primary pull-right" >{{ action | format_action }}</button>
        </form>

  </div>

</div>

{% endblock %}
