{% extends "tickets/tickets_base.html" %}

{% block title %} Split Ticket #{{ticket.id}} {% endblock %}


{% block extra_head %}

    <style>
     .required:after{
         content:"*\00a0";
         color:red;
     }

    </style>

{% endblock %}

{% block content %}

    <div class="container" id="main-content">

        <h1 class="my-1">Split Ticket # {{ticket.id}}:</h1>
        <h3 class="my-2">{{ticket.title}}</h3>

        <div class="card">
            <div class="card-body">
                Splitting a ticket will close the original ticket and
                create two new tickets (Ticket A and Ticket B) with
                contents of the form elements below. Links to the new
                tickets will be available from the details page of the
                original.  Splitting a ticket is often appropriate if
                the ticket is associated with one or more distinct
                ideas, or if there are parts of the ticket that are
                likely to require different times lines to complete.
            </div>
        </div>

        <div class="row text-end mt-3">
            <p>Required fields are identified by an <span style="color:red">*</span></p>
        </div>


        <form class="form" id="splitticket" method="post" action=".">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger my-3" role="altert">
                    Please fix the errors in the form below.
                    {% for error in form.non_field_errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                    {% for error in form.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% if msg %}
                <div class="alert alert-danger my-3" role="alert">{{ msg }}</div>
            {% endif %}

            <div class="row">
                <div class="col-md-6">

                    <div class="card my-3">
                        <div class="card-header">
                            New Ticket A
                        </div>
                        <div class="card-body">

                            <div class="mb-3">
                                <label class="form-label {% if form.title1.field.required %} required {% endif %}"
                                       for="id_{{ form.title1.name }}"
                                       aria-describedby="{{form.title1.name}}help">{{ form.title1.label }}:</label>
                                {{ form.title1 }}
                                {% if form.title1.help_text %}
                                    <div id="{{form.title1.help}}help" class="form-text">{{form.title1.help_text}}</div>
                                {% endif %}
                                {% if form.title1.errors %}
                                    <div id="validation{{form.title1.name}}" class="invalid-feedback">
                                        {% for error in  form.title1.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="mb-3">
                                <label class="form-label {% if form.status1.field.required %} required {% endif %}"
                                       for="id_{{ form.status1.name }}"
                                       aria-describedby="{{form.status1.name}}help">{{ form.status1.label }}:</label>
                                {{ form.status1 }}
                                {% if form.status1.help_text %}
                                    <div id="{{form.status1.help}}help" class="form-text">{{form.status1.help_text}}</div>
                                {% endif %}
                                {% if form.status1.errors %}
                                    <div id="validation{{form.status1.name}}" class="invalid-feedback">
                                        {% for error in  form.status1.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="mb-3">
                                <label class="form-label {% if form.ticket_type1.field.required %} required {% endif %}"
                                       for="id_{{ form.ticket_type1.name }}"
                                       aria-describedby="{{form.ticket_type1.name}}help">{{ form.ticket_type1.label }}:</label>
                                {{ form.ticket_type1 }}
                                {% if form.ticket_type1.help_text %}
                                    <div id="{{form.ticket_type1.help}}help" class="form-text">{{form.ticket_type1.help_text}}</div>
                                {% endif %}
                                {% if form.ticket_type1.errors %}
                                    <div id="validation{{form.ticket_type1.name}}" class="invalid-feedback">
                                        {% for error in  form.ticket_type1.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="mb-3">
                                <label class="form-label {% if form.priority1.field.required %} required {% endif %}"
                                       for="id_{{ form.priority1.name }}"
                                       aria-describedby="{{form.priority1.name}}help">{{ form.priority1.label }}:</label>
                                {{ form.priority1 }}
                                {% if form.priority1.help_text %}
                                    <div id="{{form.priority1.help}}help" class="form-text">{{form.priority1.help_text}}</div>
                                {% endif %}
                                {% if form.priority1.errors %}
                                    <div id="validation{{form.priority1.name}}" class="invalid-feedback">
                                        {% for error in  form.priority1.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="mb-3">
                                <label class="form-label {% if form.application1.field.required %} required {% endif %}"
                                       for="id_{{ form.application1.name }}"
                                       aria-describedby="{{form.application1.name}}help">{{ form.application1.label }}:</label>
                                {{ form.application1 }}
                                {% if form.application1.help_text %}
                                    <div id="{{form.application1.help}}help" class="form-text">{{form.application1.help_text}}</div>
                                {% endif %}
                                {% if form.application1.errors %}
                                    <div id="validation{{form.application1.name}}" class="invalid-feedback">
                                        {% for error in  form.application1.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="mb-3">
                                <label class="form-label {% if form.assigned_to1.field.required %} required {% endif %}"
                                       for="id_{{ form.assigned_to1.name }}"
                                       aria-describedby="{{form.assigned_to1.name}}help">{{ form.assigned_to1.label }}:</label>
                                {{ form.assigned_to1 }}
                                {% if form.assigned_to1.help_text %}
                                    <div id="{{form.assigned_to1.help}}help" class="form-text">{{form.assigned_to1.help_text}}</div>
                                {% endif %}
                                {% if form.assigned_to1.errors %}
                                    <div id="validation{{form.assigned_to1.name}}" class="invalid-feedback">
                                        {% for error in  form.assigned_to1.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="mb-3">
                                <label class="form-label {% if form.description1.field.required %} required {% endif %}"
                                       for="id_{{ form.description1.name }}"
                                       aria-describedby="{{form.description1.name}}help">{{ form.description1.label }}:</label>
                                {{ form.description1 }}
                                {% if form.description1.help_text %}
                                    <div id="{{form.description1.help}}help" class="form-text">{{form.description1.help_text}}</div>
                                {% endif %}
                                {% if form.description1.errors %}
                                    <div id="validation{{form.description1.name}}" class="invalid-feedback">
                                        {% for error in  form.description1.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card my-3">
                        <div class="card-header">
                            New Ticket B
                        </div>
                        <div class="card-body">

                            <div class="mb-3">
                                <label class="form-label {% if form.title2.field.required %} required {% endif %}"
                                       for="id_{{ form.title2.name }}"
                                       aria-describedby="{{form.title2.name}}help">{{ form.title2.label }}:</label>
                                {{ form.title2 }}
                                {% if form.title2.help_text %}
                                    <div id="{{form.title2.help}}help" class="form-text">{{form.title2.help_text}}</div>
                                {% endif %}
                                {% if form.title2.errors %}
                                    <div id="validation{{form.title2.name}}" class="invalid-feedback">
                                        {% for error in  form.title2.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="mb-3">
                                <label class="form-label {% if form.status2.field.required %} required {% endif %}"
                                       for="id_{{ form.status2.name }}"
                                       aria-describedby="{{form.status2.name}}help">{{ form.status2.label }}:</label>
                                {{ form.status2 }}
                                {% if form.status2.help_text %}
                                    <div id="{{form.status2.help}}help" class="form-text">{{form.status2.help_text}}</div>
                                {% endif %}
                                {% if form.status2.errors %}
                                    <div id="validation{{form.status2.name}}" class="invalid-feedback">
                                        {% for error in  form.status2.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="mb-3">
                                <label class="form-label {% if form.ticket_type2.field.required %} required {% endif %}"
                                       for="id_{{ form.ticket_type2.name }}"
                                       aria-describedby="{{form.ticket_type2.name}}help">{{ form.ticket_type2.label }}:</label>
                                {{ form.ticket_type2 }}
                                {% if form.ticket_type2.help_text %}
                                    <div id="{{form.ticket_type2.help}}help" class="form-text">{{form.ticket_type2.help_text}}</div>
                                {% endif %}
                                {% if form.ticket_type2.errors %}
                                    <div id="validation{{form.ticket_type2.name}}" class="invalid-feedback">
                                        {% for error in  form.ticket_type2.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="mb-3">
                                <label class="form-label {% if form.priority2.field.required %} required {% endif %}"
                                       for="id_{{ form.priority2.name }}"
                                       aria-describedby="{{form.priority2.name}}help">{{ form.priority2.label }}:</label>
                                {{ form.priority2 }}
                                {% if form.priority2.help_text %}
                                    <div id="{{form.priority2.help}}help" class="form-text">{{form.priority2.help_text}}</div>
                                {% endif %}
                                {% if form.priority2.errors %}
                                    <div id="validation{{form.priority2.name}}" class="invalid-feedback">
                                        {% for error in  form.priority2.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="mb-3">
                                <label class="form-label {% if form.application2.field.required %} required {% endif %}"
                                       for="id_{{ form.application2.name }}"
                                       aria-describedby="{{form.application2.name}}help">{{ form.application2.label }}:</label>
                                {{ form.application2 }}
                                {% if form.application2.help_text %}
                                    <div id="{{form.application2.help}}help" class="form-text">{{form.application2.help_text}}</div>
                                {% endif %}
                                {% if form.application2.errors %}
                                    <div id="validation{{form.application2.name}}" class="invalid-feedback">
                                        {% for error in  form.application2.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="mb-3">
                                <label class="form-label {% if form.assigned_to2.field.required %} required {% endif %}"
                                       for="id_{{ form.assigned_to2.name }}"
                                       aria-describedby="{{form.assigned_to2.name}}help">{{ form.assigned_to2.label }}:</label>
                                {{ form.assigned_to2 }}
                                {% if form.assigned_to2.help_text %}
                                    <div id="{{form.assigned_to2.help}}help" class="form-text">{{form.assigned_to2.help_text}}</div>
                                {% endif %}
                                {% if form.assigned_to2.errors %}
                                    <div id="validation{{form.assigned_to2.name}}" class="invalid-feedback">
                                        {% for error in  form.assigned_to2.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="mb-3">
                                <label class="form-label {% if form.description2.field.required %} required {% endif %}"
                                       for="id_{{ form.description2.name }}"
                                       aria-describedby="{{form.description2.name}}help">{{ form.description2.label }}:</label>
                                {{ form.description2 }}
                                {% if form.description2.help_text %}
                                    <div id="{{form.description2.help}}help" class="form-text">{{form.description2.help_text}}</div>
                                {% endif %}
                                {% if form.description2.errors %}
                                    <div id="validation{{form.description2.name}}" class="invalid-feedback">
                                        {% for error in  form.description2.errors %}{{ error }}{% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label {% if form.comment.field.required %} required {% endif %}"
                               for="id_{{ form.comment.name }}"
                               aria-describedby="{{form.comment.name}}help">{{ form.comment.label }}:</label>
                        {{ form.comment }}
                        {% if form.comment.help_text %}
                            <div id="{{form.comment.help}}help" class="form-text">{{form.comment.help_text}}</div>
                        {% endif %}
                        {% if form.comment.errors %}
                            <div id="validation{{form.comment.name}}" class="invalid-feedback">
                                {% for error in  form.comment.errors %}{{ error }}{% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary">Split Ticket</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
