<!doctype html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


        <title>{% block title %}Ticket Tracker{% endblock %}</title>

        <style>

         .btn-group-xs > .btn, .btn-xs {
             padding: 1px 5px;
             font-size: 10px;
             line-height: 1.5;
             border-radius: 3px;
         }


         .big-badge
         {
             padding-x: .65em !important;
             padding-y: .35em !important;
             font-weight: bold !important;
             color: white !important;
         }

         .btn:active,
         .btn:focus {
             border-color: black !important;

         }

        </style>

        {% block extra_head %}
        {% endblock %}


    </head>
    <body>

        <a href="#main-content" class="visually-hidden-focusable"><button class="bg-danger big-badge">Skip To Main Content</button></a>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'tickets:ticket_list' %}">Ticket Tracker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tickets:ticket_list' %}" class="sel">View Tickets</a>
                        </li>

                        <li class="nav-item">
                            {% if user.is_authenticated %}
                                <a class="nav-link" href="{% url 'tickets:new_ticket' %}">New Ticket</a>
                            {% endif %}
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Filter
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'tickets:ticket_list' %} ">All Tickets</a></li>
                                {% if user.username %}
                                    <li><a class="dropdown-item" href="{% url 'tickets:my_ticket_list' user.username%} ">My Tickets</a></li>
                                {% endif %}
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'tickets:open_tickets' %}">Open Tickets</a></li>
                                <li><a class="dropdown-item" href="{% url 'tickets:closed_tickets' %}">Closed Tickets</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'tickets:bug_reports' %}">Bug Reports</a></li>
                                <li><a class="dropdown-item" href="{% url 'tickets:feature_requests' %}">Feature Requests</a></li>
                                <li><a class="dropdown-item" href="{% url 'tickets:tasks' %}">Tasks</a></li>
                            </ul>
                        </li>

                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'tickets:ticket_list' %} ">
                                            Change Password</a>
                                    </li>

                                    {% if user.is_staff %}
                                        <li><a class="dropdown-item" href="{% url 'admin:index' %}">Django Admin</a></li>
                                    {% endif %}

                                    {% if user.is_superuser %}
                                        <li><a class="dropdown-item" href="{% url 'password_reset' %}">Reset Password</a></li>
                                    {% endif %}

                                </ul>

                                {% block navbar_other_apps %}
                                {% endblock %}
                            </li>

                        {% endif %}



                    </ul>
                    {% if user.is_authenticated %}
                        <span class="navbar-text mx-5">
                            Welcome
                            {% if user.first_name %}
                                {{ user.first_name }}!
                            {% else %}
                                {{ user.username }}!
                            {% endif %}
                        </span>
                        <span class="navbar-text mx-5"><a href="{% url 'logout' %}?next=/tickets">Logout</a> </span>
                    {% else %}
                        <span class="navbar-text mx-5"><a href="{% url 'login' %}">Login</a> </span>
                    {% endif %}


                    <form class="d-flex" role="search" action={% url 'tickets:ticket_list' %}>
                        <input class="form-control me-2" required name="q" type="search" placeholder="Search Tickets" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>

                </div>
            </div>
        </nav>


        {% block content %}



        {% endblock%}

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        {% block extra_scripts %}
        {% endblock%}
    </body>

</html>
