{% load ticket_extras %}



<div class="accordion" id="ticket-filter-accordion">
    {% for filter, values in filters.items %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{filter}}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{filter}}" aria-expanded="false" aria-controls="collapse{{filter}}">
                    {{ filter | space | title }}
                </button>
            </h2>
            <div id="collapse{{filter}}" class="accordion-collapse collapse" aria-labelledby="heading{{filter}}" data-bs-parent="#ticket-filter-accordion">
                <div class="accordion-body">
                    <form id="{{ filter }}-checkboxes">
                        {% for value in values %}
                            <div class="form-check">
                                <label>
                                    <input type="checkbox" name="check" value="{{ filter|classify }}-{{ value|classify }}"> <span class="label-text">{{ value|title }}</span>
                                </label>
                            </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
