{% extends "tickets/tickets_base.html" %}
{% load ticket_extras %}

{% block title %}

    {%if ticket.pk %}
        Edit Ticket # {{ticket.id}}
    {% else %}
        New Ticket
    {% endif %}

{% endblock %}

{% block content %}

    <div class="container" id="main-content">
        <div class="card my-3">
            <div class="card-header">
                {%if ticket.pk %}
                    <h1 class="my-1">Update Ticket # {{ticket.id}}:</h1>
                    <h3 class="my-2">{{ticket.title}}</h3>
                {% else %}
                    <h1 class="my-2">New Ticket</h1>
                {% endif %}
            </div>
            <div class="card-body">

                <form class="form" id="ticket" method="post" action=".">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-danger" role="altert">
                            Please fix the errors in the form below.
                            {% for error in form.non_field_errors %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                            {% for error in form.errors %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if msg %}
                        <div class="alert alert-danger">{{ msg }}</div>
                    {% endif %}

                    <div class="row text-end">
                        <p>Required fields are identified by an <span style="color:#b60000;">*</span></p>
                    </div>

                    <div class="mb-3">
                        {{ form.title | required_field_asterisk }}
                        {{ form.title }}
                        {% if form.title.help_text %}
                            <div id="{{form.title.help}}help" class="form-text">{{form.title.help_text}}</div>
                        {% endif %}
                        {% if form.title.errors %}
                            <div id="validation{{form.title.name}}" class="invalid-feedback">
                                {% for error in  form.title.errors %}{{ error }}{% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form.ticket_type | required_field_asterisk }}
                        {{ form.ticket_type }}
                        {% if form.ticket_type.help_text %}
                            <div id="{{form.ticket_type.help}}help" class="form-text">{{form.ticket_type.help_text}}</div>
                        {% endif %}
                        {% if form.ticket_type.errors %}
                            <div id="validation{{form.ticket_type.name}}" class="invalid-feedback">
                                {% for error in  form.ticket_type.errors %}{{ error }}{% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form.priority | required_field_asterisk }}
                        {{ form.priority }}
                        {% if form.priority.help_text %}
                            <div id="{{form.priority.help}}help" class="form-text">{{form.priority.help_text}}</div>
                        {% endif %}
                        {% if form.priority.errors %}
                            <div id="validation{{form.priority.name}}" class="invalid-feedback">
                                {% for error in  form.priority.errors %}{{ error }}{% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form.application | required_field_asterisk }}
                        {{ form.application }}
                        {% if form.application.help_text %}
                            <div id="{{form.application.help}}help" class="form-text">{{form.application.help_text}}</div>
                        {% endif %}
                        {% if form.application.errors %}
                            <div id="validation{{form.application.name}}" class="invalid-feedback">
                                {% for error in  form.application.errors %}{{ error }}{% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form.description | required_field_asterisk }}
                        {{ form.description }}
                        {% if form.description.help_text %}
                            <div id="{{form.description.help}}help" class="form-text">{{form.description.help_text}}</div>
                        {% endif %}
                        {% if form.description.errors %}
                            <div id="validation{{form.description.name}}" class="invalid-feedback">
                                {% for error in  form.description.errors %}{{ error }}{% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form.tags | required_field_asterisk }}
                        {{ form.tags }}
                        {% if form.tags.help_text %}
                            <div id="{{form.tags.help}}help" class="form-text">{{form.tags.help_text}}</div>
                        {% endif %}
                        {% if form.tags.errors %}
                            <div id="validation{{form.tags.name}}" class="invalid-feedback">
                                {% for error in  form.tags.errors %}{{ error }}{% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="row my-3">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}
