{% extends "tickets/tickets_base.html" %}

{% load ticket_extras %}

{% block title %} View Tickets - {% endblock %}


{% block extra_head %}


{% endblock %}


{% block content %}



    <div  class="row" >
        <div id="filter-column" class="col-md-2" >
            {% include 'tickets/ticket_filters.html' %}

            {% if related_tags %}
            <h4>Filter by Keyword:</h4>

            <ul>
                {% for tag in related_tags %}
                <li><a href="?{% query_transform tags=tag.name %}">{{tag.name}} ({{tag.count}})</a></li>
                {% endfor %}
            </ul>

            {% endif %}

        </div>

        {% if tag %}
        <h3>Tickets Tagged with '{{ tag }}' (n={{ object_list|length }}):</h3>
        {% elif status %}
        <h3>{{ status }} Tickets (n={{ object_list|length }})</h3>
        {% elif type %}
        <h3>{{ type  }}s</h3>
        {% elif query %}
        <h3>Tickets that contain '{{ query }}' (n={{ object_list|length }}):</h3>
        {% elif username %}
        {% if what %}
        <h3>Tickets {{ what }} {{ username }} (n={{ object_list|length }}):</h3>
        {% else %}
        <h3>Tickets associated with {{ username }} (n={{ object_list|length }}):</h3>
        {% endif %}
        {% else %}
        <h3>Tickets (n={{ object_list|length }})</h3>
        {% endif %}


        {% if object_list %}

        <div id="ticket-table-column" class="col-md-10" >


            <table cellspacing="0" class="tablesorter">
                <thead>
                    <tr>
                        <th>Ticket</th>
                        <th>Status</th>
                        <th>Description</th>
                        <th>Application</th>
                        <th>Submitted By</th>
                        <th>Submitted On</th>
                        <th>Ticket Type</th>
                        <th>Priority</th>
                        <th>Votes</th>
                        <th>Assigned to</th>
                    </tr>
                </thead>
                <tbody id="ticket-list" >
                    {% for object in object_list %}
                    <tr class="ticket" data-category="status-{{ object.status|classify }} type-{{ object.get_ticket_type_display|classify }} priority-{{ object.get_priority_display|classify }} application-{{ object.application|classify }} submitted-by-{{ object.submitted_by|classify }} assigned-to-{{object.assigned_to|classify}}" >
                        <td><a href="{{ object.get_absolute_url }}">{{object.id}}</a></td>
                        <td><a href="?{% query_transform status=object.status %}">{{object.status | status_btn }}</a></td>
                        <td><a href="{{ object.get_absolute_url }}">{{  object.title }}</a></td>
                        <td><a href="?{% query_transform application=object.application.slug %}">{{object.application}}</a></td>
                        <td><a href="{% url 'tickets:submitted_by' object.submitted_by.username %}">{{object.submitted_by}}</a></td>
                        <td>{{object.created_on |date:"M d, Y" }}</td>
                        <td><a href="?{% query_transform ticket_type=object.ticket_type %}">{{object.ticket_type | ticket_type_btn }}</a></td>

                        <td><a href="?{% query_transform priority=object.priority %}">{{object.priority | priority_btn }}</a></td>
                        <td>{{object.votes}}</td>
                        {% if object.assigned_to %}
                        <td><a href="{% url 'tickets:assigned_to' object.assigned_to.username %}">{{object.assigned_to}}</a></td>

                        {% else %} <td>Nobody (yet)</td> {% endif %}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h4>No Tickets Found.</h4>
            {% endif %}

        </div>

    </div>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- bootstrap widget theme -->
<!-- tablesorter plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.15.14/jquery.tablesorter.js"></script>

<!-- tablesorter widget file - loaded after the plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.15.14/jquery.tablesorter.widgets.js"></script>



<script type="text/javascript">

 $(".tablesorter").tablesorter({
     theme: 'bootstrap',
     widthFixed: true,
     showProcessing: true,
     headerTemplate: '{content} {icon}',
     widgets: ['zebra', 'uitheme', 'scroller'],
     widgetOptions: {
         scroller_height: 300,
         scroller_barWidth: 17,
         scroller_jumpToHeader: true,
         scroller_idPrefix: 's_'
     }
 });

 /* modified from http://jsfiddle.net/n3EmN/171/ */

 var $filterCheckboxes = $('input[type="checkbox"]');

 $filterCheckboxes.on('change', function() {

     var selectedFilters = {};

     $filterCheckboxes.filter(':checked').each(function() {

         var formId = this.closest('form').id;
         var ckboxVal = this.value;

         if (!selectedFilters.hasOwnProperty(formId)) {
             selectedFilters[formId] = [];
         }
         selectedFilters[formId].push(ckboxVal);

     });


     // create a collection containing all of the filterable elements
     var filteredResults = $('.ticket');

     // loop over the selected filter name -> (array) values pairs
     $.each(selectedFilters, function(name, filterValues) {

         // filter each .flower element
         filteredResults = filteredResults.filter(function() {

             var matched = false;
             var currentFilterValues = $(this).data('category').split(' ');

             // loop over each category value in the current .flower's data-category
             $.each(currentFilterValues, function(_, currentFilterValue) {

                 // if the current category exists in the selected filters array
                 // set matched to true, and stop looping. as we're ORing in each
                 // set of filters, we only need to match once

                 if ($.inArray(currentFilterValue, filterValues) != -1) {
                     matched = true;
                     return false;
                 }
             });

             // if matched is true the current .flower element is returned
             return matched;

         });
     });

     $('.ticket').hide().filter(filteredResults).show();

 });



</script>




{% endblock %}
