{% extends "tickets/tickets_base.html" %}

{% block title %} Ticket #{{ object.id }} {% endblock %}

{% load ticket_extras %}

{% block content %}

<div class="container">

    {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-{{msg.level_tag}} " role="alert">
            {{msg.message}}
        </div>
        {% endfor %}
    {% endif %}

    <div class="col-md-6">
        <h2>Ticket #{{ object.id }} -  {{ ticket.title }} <span> {{ object.status | status_btn:"med" }}</span></h2>
    <hr />
    <h3>Information</h3>

    <table cellspacing="0" class="table">
      <tr>
	<td><b>Ticket Type: </b> {{ object.ticket_type | ticket_type_btn }}</td>
	<td><b>Application:</b> {{object.application}} </td>
      </tr>

      <tr>
	<td><b>Opened: </b> {{ object.created_on }}</td>
	<td><b>Last modified: </b>{{ object.updated_on }}</td>
      </tr>

      <tr>
	<td><b>Priority: </b>{{ object.priority | priority_btn }}</td>
	<td><b>Votes: </b>{{ object.votes }}
	  <a href="{% url 'tickets:upvote_ticket' object.id %}">
	    <button type="button" class="btn btn-default btn-xs" id="vote-button" {% if has_voted%}disabled{% endif %}>
	      <span class="glyphicon glyphicon-thumbs-up"></span></button></a></td>
      </tr>
      <tr>
	<td><b>Submitted by: </b> {{ object.submitted_by }}</td>
	<td>	<b>Assigned to: </b>
	  {% if object.assigned_to %}
	  {{ object.assigned_to }}
	  {% else %} Nobody (yet) {% endif %}</td>
      </tr>

    </table>


    <hr />

   <b>Description: </b>
   <div class="row well">
       <br /> {{ object.description_html|safe }}
   </div>

   {% if object.tags.all %}
   <p>
       <b>Tags: </b>
       {%for tag in object.tags.all %}
       <a href="{% url 'tickets:tickets_tagged_with' tag.slug %}">{{tag}}</a>
       {% if not forloop.last %}, {% endif %}
       {% endfor%}
   </p>
   {% endif %}


    <div class="row">
      <div class="pull-right">
	{%  if object.is_closed %}
	<button type="button" class="btn btn-info btn-sm" disabled="disabled">Edit Details</button>
    	{% if user.is_staff %}
    	<a href="{% url 'tickets:reopen_ticket' object.id %}">
    	  <button type="button" class="btn btn-info btn-sm">Re-Open</button></a>
    	{% endif %}
  	{% else %}
    	{% if user.is_staff or user == object.submitted_by %}
	<a href="{% url 'tickets:update_ticket' object.id %}">
	  <button type="button" class="btn btn-info btn-sm">Edit Details</button></a>
	{% endif %}
	{% endif %}
	<a href="{% url 'tickets:comment_ticket' object.id %}">
	    <button type="button" class="btn btn-info btn-sm">Comment</button></a>
	{%  if object.is_closed == False and user.is_staff %}
        {% if object.status == 'new' %}
	<a href="{% url 'tickets:accept_ticket' object.id %}">
	    <button type="button" class="btn btn-success btn-sm">Accept</button></a>
	<a href="{% url 'tickets:assign_ticket' object.id %}">
	    <button type="button" class="btn btn-success btn-sm">Accept and Assign</button></a>
        {% elif object.status == 'accepted' %}
	<a href="{% url 'tickets:assign_ticket' object.id %}">
	    <button type="button" class="btn btn-success btn-sm">Assign</button></a>
        {% elif object.status == 'assigned' %}
	<a href="{% url 'tickets:assign_ticket' object.id %}">
	    <button type="button" class="btn btn-success btn-sm">Re-assign</button></a>
        {% endif %}
	<a href="{% url 'tickets:split_ticket' object.id %}">
	  <button type="button" class="btn btn-warning btn-sm">Split</button></a>
	<a href="{% url 'tickets:close_ticket' object.id %}">
	  <button type="button" class="btn btn-danger btn-sm">Close</button></a>
	{% endif %}
      </div>
    </div>

    <hr />


    {% if object.get_originals %}
    This ticket duplicates ticket(s):
    <ul>
      {% for object in object.get_originals %}
      <li>      <a href="{% url 'tickets:ticket_detail' object.original.id  %}">
	{{ object.original }} (ticket #{{ object.original.id }})</a></li>
      {% endfor %}
    </ul>
    {% endif %}


    {% if object.get_duplicates %}
    This ticket has been duplicated by the following ticket(s):
    <ul>
      {% for object in object.get_duplicates %}
      <li><a href="{% url 'tickets:ticket_detail' object.ticket.id  %}">
	{{ object.ticket }} (ticket #{{ object.ticket.id }})</a></li>
      {% endfor %}
    </ul>
    {% endif %}

    <br />

    {% if object.get_parent %}
    <p><b>Parent Ticket:</b></p>
    This ticket was split from a parent ticket:
    <a href="{% url 'tickets:ticket_detail' object.get_parent.id  %}">{{ object.get_parent }}... (ticket #{{ object.get_parent.id }})</a>
    {% endif %}

    {% if object.get_children %}
    <p><b>Child Ticket(s):</b></p>
    This ticket has been split into the  following ticket(s):
    <ul>
      {% for child in object.get_children %}
      <li><a href="{% url 'tickets:ticket_detail' child.id  %}">
	{{ child }} (ticket #{{ child.id }})</a></li>
      {% endfor %}
    </ul>
    {% endif %}



    <h3>Comments:</h3>
    {% if comments %}

    {% for comment in comments %}

    {% if comment.action == 'closed'  %}

    <div class="panel panel-danger">
        <div class="panel-heading">
            On {{ comment.created_on }} this ticket was <button class="btn btn-danger btn-xs" type="submit">closed</button> by {{ comment.submitted_by }}
        </div>
        <div class="panel-body">
            {{ comment.comment_html|safe }}
        </div>
    </div>
    {% elif comment.action == 'reopened'  %}
    <div class="panel panel-warning">
        <div class="panel-heading">
            On {{ comment.created_on }} this ticket was <button class="btn btn-warning btn-xs" type="submit">re-opened</button> by {{ comment.submitted_by }}
        </div>
        <div class="panel-body">
            {{ comment.comment_html|safe }}
        </div>
    </div>

    {% else %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% if comment.private %}
	    <button class="btn btn-warning btn-xs" type="submit">private</button>
	    {% endif %}
	    On {{ comment.created_on }} {{ comment.submitted_by }} wrote:
        </div>
        <div class="panel-body">
            {{ comment.comment_html|safe }}
        </div>
    </div>
    {% endif %}

    {% endfor %}
    {% else %}
    <em>No comments on this ticket yet.</em>
    {% endif %}
  </div>
</div>

<br />
<br />
{% endblock %}
