{% extends "tickets/base.html" %}


{% block title %}Change Password{% endblock %}
{% block content %}

<div id="ChangePasswordd">
  <div class="row">
    <!-- Alignment -->
    <div class="col-sm-offset-4 col-sm-3">

      <!-- Form itself -->
      <form method="POST" action="" class="well">
        {% csrf_token %}
        <legend>Change Password</legend>

        {% if form.errors %}
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <ul>
            {% for error in form.errors.values %}
            <li>{{ error|striptags }}</li>
            {% endfor %}
          </ul>

        </div>
        {% endif %}

        <!-- Password1 -->
        <div class="form-group">
          <div class="controls">
            <input type="password" class="form-control" placeholder="New Password"
                   name="new_password1" required />
          </div>
        </div>

        <!-- Password2 -->
        <div class="form-group">
          <div class="controls">
            <input type="password" class="form-control" placeholder="New Password (again)"
                   name="new_password2" required />
          </div>
        </div>

        <div class="row">
          <button type="submit" class="btn btn-primary pull-right">Done</button><br /></p>
        </div>

      </form>
    </div>
  </div>
</div>



    <div class="span3 well">
    <legend>Change Password</legend>

    {% if form.errors %}
        <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <ul>
                {% for error in form.errors.values %}
                    <li>{{ error|striptags }}</li>
                {% endfor %}
                </ul>
        </div>
    {% endif %}

    <form accept-charset="UTF-8" action="" method="post">
          {% csrf_token %}
    <input class="span3" name="new_password1" placeholder="New Password" type="password">
    <input class="span3" name="new_password2" placeholder="Confirm New Password" type="password">
    <button class="btn btn-warning" type="submit">Submit Changes</button>
    </form>
    </div>
{% endblock %}
