{% extends "tickets/tickets_base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="container" >
        <div class="row justify-content-md-center">
            <!-- Alignment -->
            <div class="col-sm-3">
                <div class="card mt-5">
                    <div class="card-header">
                        Login
                    </div>
                    <div class="card-body">
                        <!-- Form itself -->
                        <form method="POST" action="">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    <ul>
                                        {% for error in form.errors.values %}
                                            <li>{{ error|striptags }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input name="username" type="text" class="form-control" id="username" aria-describedby="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input name="password" type="password" class="form-control" id="password" required>
                            </div>
                            <div class="row my-3">
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-primary pull-right">Login</button><br /></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
