<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>{% block title %}{% endblock %}Simple Ticket</title>
    <!--     <link rel="stylesheet" href="{{ STATIC_URL }}style.css" type="text/css" media="screen" /> -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/stickyfooter.css">
  </head>

  <body>

    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="#">Ticket Tracker</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
	<ul class="nav navbar-nav">
	  <li><a href="{% url 'ticket_list' %}" class="sel">View Tickets</a></li>
	  <li><a href="{% url 'new_ticket' %}">New Ticket</a></li>
	  <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter <b class="caret"></b></a>
            <ul class="dropdown-menu">

              <li><a href="#">All Tickets</a></li>
	      <li><a href="#">My Tickets</a></li>
	      <li class="divider"></li>
              <li><a href="#">Active Tickets</a></li>
              <li><a href="#">Closed Tickets</a></li>
	      <li class="divider"></li>
              <li><a href="#">Bug Reports</a></li>
              <li><a href="#">Feature Requests</a></li>

	      <li>
		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
		    Option1
		  </label>
		</div>
	      </li>
	      <li>
		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
		    Option2
		  </label>
		</div>
	      </li>
            </ul> 
	    <li><a href="/admin/">Admin</a></li>
	  </li>
	</ul>
	<form class="navbar-form navbar-left" role="search">
	  <div class="form-group">
            <input type="text" class="form-control" placeholder="Search Tickets">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
      </div><!-- /.navbar-collapse -->
    </nav>


    {% block content %}
    {% endblock%}

    <div class="navbar navbar-fixed-bottom">
      <div class="container">
      <p>&copy;2013 Adam Cottrill</p>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>


  </body>
</html>
