{% extends "tickets/base.html" %}

{% block title %} Tickets {% endblock %}

{% block content %}

<form method="post" action="">
    <table>
        {% for form in formset %}
           {{ form.as_table }}
        {% endfor %}
    </table>
</form>
 
<hr />
<p>How did you reach this site? <select name="howreach">
<option value="0" selected="selected">Choose one...</option>
<option value="1">Typed the URL directly</option>
<option value="2">Site is bookmarked</option>
<option value="3">A search engine</option>
<option value="4">A link from another site</option>
<option value="5">From a book</option>
<option value="6">Other</option>
</select></p>



{% endblock %}
