{% extends "tickets/base.html" %}

{% block title %} Ticket #{{ object.id }} {% endblock %}

{% load ticket_extras %}

{% block content %}

<div class="container">
  <div class="col-md-6">
    <h2>Ticket #{{ object.id }} <span> {{ object.status | status_btn:"lg" }}</span></h2>

    <hr />
    <h3>Information</h3>


    <table cellspacing="0" class="table">
      <tr>
	<td><b>Ticket Type: </b> {{ object.ticket_type | ticket_type_btn }}</td>
	<td></td>
      </tr>


      <tr>
	<td><b>Opened: </b> {{ object.created_on }}</td>
	<td><b>Last modified: </b>{{ object.updated_on }}</td>
      </tr>

      <tr>
	<td><b>Priority: </b>{{ object.priority | priority_btn }}</td>
	<td><b>Votes: </b>{{ object.votes }}
	  <a href="{% url 'upvote_ticket' object.id %}">
	    <button type="button" class="btn btn-default btn-xs">
	      <span class="glyphicon glyphicon-thumbs-up"></span></button></a></td>
      </tr>


      <tr>
	<td><b>Sumbitted by: </b> {{ object.submitted_by }}</td>
	<td>	<b>Assigned to: </b>
	  {% if object.assigned_to %}
	  {{ object.assigned_to }}
	  {% else %} Nobody (yet) {% endif %}</td>
      </tr>

    </table>


    <hr />

    <b>Description: </b>
    <div class="row well">
      <br /> {{ object.description }}
    </div>

    <div class="row">
      <div class="pull-right">
	{%  if object.status != 'Closed' %}
	<a href="{% url 'update_ticket' object.id %}">
	  <button type="button" class="btn btn-info btn-sm">Update</button></a>
	{% else %}
	<button type="button" class="btn btn-info btn-sm" disabled="disabled">Update</button>
	{% endif %}
	<a href="{% url 'comment_ticket' object.id %}">
	  <button type="button" class="btn btn-info btn-sm">Comment</button></a>
	{%  if object.status != 'Closed' %}
	<a href="{% url 'close_ticket' object.id %}">
	  <button type="button" class="btn btn-danger btn-sm">Close</button></a>
	{% endif %}
      </div>
    </div>

    <hr />

    <br />
    <p><b>Parent Ticket:</b></p>

    <p><b>Child Ticket(s):</b></p>

    <h3>Comments:</h3>
    {% if comments %}

    {% for comment in comments %}

    <table class="table table-hover">
      <tr>
	<td>
	  {% if comment.closed  %}

	  <div class="alert alert-danger">
	    <p>On {{ comment.created_on }} this ticket was <button class="btn btn-danger btn-xs" type="submit">closed</button> by {{ comment.submitted_by }}</p>
	    {{ comment.comment }}
	  </div>

	  {% else %}

	  <p>On {{ comment.created_on }} {{ comment.submitted_by }} wrote:</p>
	  {{ comment.comment }}
	  {% endif %}
        </td>
    </table>
    <br />
    {% endfor %}
    {% else %}
    <em>No comments on this ticket yet.</em>
    {% endif %}
  </div>
</div>

<br />
<br />
{% endblock %}
