{% extends "tickets/base.html" %}

{% load ticket_extras %}

{% block title %} View Tickets - {% endblock %}

{% block content %}
<div class="container">

  <table cellspacing="0" class="table">
    <tr>
      <th>Ticket</th>
      <th>Description</th>
      <th>Submitted By</th>
      <th>Ticket Type</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Votes</th>
      <th>Assigned to</th>
    </tr>
    {% for object in object_list %}
    <tr>
      <td><a href="{{ object.get_absolute_url }}">{{object.id}}</a></td>
      <td><a href="{{ object.get_absolute_url }}">{{  object.name }}</a></td>
      <td>{{object.submitted_by}}</td>
      <td>{{object.ticket_type | ticket_type_btn }}</td>
      <td>{{object.status | status_btn }}</td>
      <td>{{object.priority | priority_btn }}</td>
      <td>{{object.votes}}</td>
	{% if object.assigned_to %} 
      <td>{{ object.assigned_to }} </td>
      {% else %} <td>Nobody (yet)</td> {% endif %}


    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
