{% extends "tickets/tickets_base.html" %}

{% block title %} Ticket #{{ object.id }} {% endblock %}

{% load ticket_extras %}

{% block content %}

<div class="container">
  <div class="col-md-6">
    <h2>Ticket #{{ object.id }} <span> {{ object.status | status_btn:"lg" }}</span></h2>

    <hr />
    <h3>Information</h3>


    <table cellspacing="0" class="table">
      <tr>
	<td><b>Ticket Type: </b> {{ object.ticket_type | ticket_type_btn }}</td>
	<td></td>
      </tr>


      <tr>
	<td><b>Opened: </b> {{ object.created_on }}</td>
	<td><b>Last modified: </b>{{ object.updated_on }}</td>
      </tr>

      <tr>
	<td><b>Priority: </b>{{ object.priority | priority_btn }}</td>
	<td><b>Votes: </b>{{ object.votes }}
	  <a href="{% url 'upvote_ticket' object.id %}">
	    <button type="button" class="btn btn-default btn-xs">
	      <span class="glyphicon glyphicon-thumbs-up"></span></button></a></td>
      </tr>


      <tr>
	<td><b>Submitted by: </b> {{ object.submitted_by }}</td>
	<td>	<b>Assigned to: </b>
	  {% if object.assigned_to %}
	  {{ object.assigned_to }}
	  {% else %} Nobody (yet) {% endif %}</td>
      </tr>

    </table>


    <hr />

    <b>Description: </b>
    <div class="row well">
      <br /> {{ object.description }}
    </div>

    <div class="row">
      <div class="pull-right">
	{%  if object.is_closed %}
	<button type="button" class="btn btn-info btn-sm" disabled="disabled">Update</button>
    	{% if user.is_staff %}
    	<a href="{% url 'reopen_ticket' object.id %}">
    	  <button type="button" class="btn btn-info btn-sm">Re-Open</button></a>
    	{% endif %}
  	{% else %}
    	{% if user.is_staff or user == object.submitted_by %}
	<a href="{% url 'update_ticket' object.id %}">
	  <button type="button" class="btn btn-info btn-sm">Update</button></a>
	{% endif %}
	{% endif %}
	<a href="{% url 'comment_ticket' object.id %}">
	  <button type="button" class="btn btn-info btn-sm">Comment</button></a>
	{%  if object.is_closed == False and user.is_staff %}
	<a href="{% url 'split_ticket' object.id %}">
	  <button type="button" class="btn btn-warning btn-sm">Split</button></a>
	<a href="{% url 'close_ticket' object.id %}">
	  <button type="button" class="btn btn-danger btn-sm">Close</button></a>
	{% endif %}
      </div>
    </div>

    <hr />


    {% if object.get_originals %}
    This ticket duplicates ticket(s):
    <ul>
      {% for object in object.get_originals %}
      <li>      <a href="{% url 'ticket_detail' object.original.id  %}">
	{{ object.original }} (ticket #{{ object.original.id }})</a></li>
      {% endfor %}
    </ul>
    {% endif %}


    {% if object.get_duplicates %}
    This ticket has been duplicated by the following ticket(s):
    <ul>
      {% for object in object.get_duplicates %}
      <li><a href="{% url 'ticket_detail' object.ticket.id  %}">
	{{ object.ticket }} (ticket #{{ object.ticket.id }})</a></li>
      {% endfor %}
    </ul>
    {% endif %}

    <br />

    {% if object.get_parent %}
    <p><b>Parent Ticket:</b></p>
    This ticket was split from a parent ticket:
    <a href="{% url 'ticket_detail' object.get_parent.id  %}">{{ object.get_parent }}... (ticket #{{ object.get_parent.id }})</a>
    {% endif %}

    {% if object.get_children %}
    <p><b>Child Ticket(s):</b></p>
    This ticket has been split into the  following ticket(s):
    <ul>
      {% for child in object.get_children %}
      <li><a href="{% url 'ticket_detail' child.id  %}">
	{{ child }} (ticket #{{ child.id }})</a></li>
      {% endfor %}
    </ul>
    {% endif %}



    <h3>Comments:</h3>
    {% if comments %}

    {% for comment in comments %}

    <table class="table table-hover">
      <tr>
	<td>
	  {% if comment.action == 'closed'  %}

	  <div class="alert alert-danger">
	    <p>On {{ comment.created_on }} this ticket was <button class="btn btn-danger btn-xs" type="submit">closed</button> by {{ comment.submitted_by }}</p>
	    {{ comment.comment }}
	  </div>

	  {% elif comment.action == 'reopened'  %}

	  <div class="alert alert-success">
	    <p>On {{ comment.created_on }} this ticket was <button class="btn btn-success btn-xs" type="submit">re-opened</button> by {{ comment.submitted_by }}</p>
	    {{ comment.comment }}
	  </div>

	  {% else %}

	  <p>{% if comment.private %}  
	    <button class="btn btn-warning btn-xs" type="submit">private</button>
	    {% endif %}   
	    On {{ comment.created_on }} {{ comment.submitted_by }} wrote:</p>
	  {{ comment.comment }}
	  {% endif %}
        </td>
    </table>
    <br />
    {% endfor %}
    {% else %}
    <em>No comments on this ticket yet.</em>
    {% endif %}
  </div>
</div>

<br />
<br />
{% endblock %}
